<section class="home-banner-section">
      <div class="banner-caption">
        <div class="container">
          <h2 class="banner-title text-uppercase">Harnessing Diversity <br>for Sustainable Success</h2>
          <p class="lead">ACE Group makes variety a differentiator and a competitive edge.</p>
          <p><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#videoModal">Watch Company Intro</a> <a href="#" class="btn btn-outline-default">Discover ACE</a></p>
      </div>
  </div>
 <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3DVvbauTLyI" allowfullscreen></iframe>
		</div>
      </div>
    </div>
  </div>
</div> 
</section>