<section class="home-bottom-section">
  <div class="container">
    <header class="header-section">
       <h2 class="text-heading">Insights</h2>
       <a href="#">View all</a>     
    </header>

    <div class="row">
        <div class="col-md-4">
          <article>
            <a href="#">
              <span class="cat-title show">Credit</span>
              <h3 class="entry-title">ACE Credit the new substantial shareholder of connectcounty</h3>
              <p>Lorem ipsum dolor sit amet, conorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, conorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="read-text">Read more</span>
            </a>
          </article>
        </div>
        <div class="col-md-4">
            <article>
              <a href="#">
                <span class="cat-title show">Holdings</span>
                <h3 class="entry-title">Leader in islamic business</h3>
                <p>Lorem ipsum dolor sit amet, conorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, conorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <span class="read-text">Read more</span>
              </a>
          </article>        
        </div>
        <div class="col-md-4">
          <article>
            <a href="#">
              <span class="cat-title show">Corporation</span>
              <h3 class="entry-title">A mismatch between demand and supply</h3>
              <p>Lorem ipsum dolor sit amet, conorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, conorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="read-text">Read more</span>
            </a>
          </article>          
        </div>
    </div>
  </div>
</section>