<section class="home-middle-section">
  <div class="container">
	    <header class="header-section text-center">
	      <h2 class="main-heading">One group. <br>Limitless Potential.</h2>
	      <p class="lead">We have the right solution to fit your needs.</p>
	    </header>
	    <div class="card-area">
	    	<h3 class="text-heading">Banking &amp; Finance</h3>
	    	<div class="row">
		        <div class="col-md-3">
		        	<a href="#">
				          <div class="card card-default" data-mh="card">
				            <div class="card-block">
				                  <span class="card-no">01.</span>
				                  <h5 class="card-title">Investment Bank</h5>
				                  <p data-mh="card-text">Lorem ipsum dolor sit amet, conorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    
				            </div>
				          </div>
		        	</a>
		        </div>
		        <div class="col-md-3">
		        	<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
			                <span class="card-no">02.</span>
			                <h5 class="card-title">Holdings</h5>
			                <p data-mh="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>
			          </div> 
		        	</a>
		        </div>
		        <div class="col-md-3">
		        	<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
			              <span class="card-no">03.</span>
			              <h5 class="card-title">Leasing</h5>
			              <p data-mh="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum dolor sit amet.</p>
			            </div>   
			          </div> 
		        	</a>
		        </div>
		        <div class="col-md-3">
		        	<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
			              <span class="card-no">04.</span>
			              <h5 class="card-title">Credit</h5>
			              <p data-mh="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>   
			          </div>  
		        	</a> 	
		        </div>
		        <div class="col-md-3">
		        	<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
			              <span class="card-no">05.</span>
			              <h5 class="card-title">Capital Management</h5>
			              <p data-mh="card-text">Lorem ipsum dolor sit amet, adipiscing elit.</p>
			            </div>
			          </div> 
		        	</a>
		        </div>
		        <div class="col-md-3">
		        	<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
			                <span class="card-no">06.</span>
			                <h5 class="card-title">Private Equity</h5>
			                <p data-mh="card-text">Lorem ipsum dolor sit amet, consectetur adipiscingorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>
			          </div> 
		        	</a> 
		        </div>
		        <div class="col-md-3">
		        	<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
			                <span class="card-no">07.</span>
			                <h5 class="card-title">Asset Management</h5>
			                <p data-mh="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>
			          </div>  
		        	</a>
		        </div>
	    	</div>
	    </div>
	    <div class="card-area">
	    	 <h3 class="text-heading">Other Solutions</h3>
	    	 <div class="row">
	    	 	<div class="col-md-3">
	    	 		<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
				            <span class="card-no">08.</span>
				            <h5 class="card-title">Industry</h5>
				            <p>Lorem ipsum dolor sit amet, conorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>
			          </div>
	    	 		</a>	 		
	    	 	</div>
	    	 	<div class="col-md-3">
	    	 		<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
				            <span class="card-no">09.</span>
				            <h5 class="card-title">Corporation</h5>
				            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>
			          </div>
	    	 		</a>	    	 		
	    	 	</div>
	    	 	<div class="col-md-3">
	    	 		<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
				            <span class="card-no">10.</span>
				            <h5 class="card-title">Technology</h5>
				            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum dolor sit amet.</p>
			            </div>
			          </div>	
	    	 		</a>	
	    	 	</div>
	    	 	<div class="col-md-3">
	    	 		<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
				            <span class="card-no">11.</span>
				            <h5 class="card-title">Marketing</h5>
				            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>
			          </div>
	    	 		</a>			
	    	 	</div>
	    	 	<div class="col-md-3">
	    	 		<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
				            <span class="card-no">12.</span>
				            <h5 class="card-title">Media Network</h5>
				            <p>Lorem ipsum dolor sit amet, adipiscing elit.</p>
			            </div>
			          </div>	
	    	 		</a>	
	    	 	</div>
	    	 	<div class="col-md-3">
	    	 		<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
				            <span class="card-no">13.</span>
				            <h5 class="card-title">Pictures Entertainment</h5>
				            <p>Lorem ipsum dolor sit amet, consectetur adipiscingorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>
			          </div>	
	    	 		</a>	
	    	 	</div>
	    	 	<div class="col-md-3">
	    	 		<a href="#">
			          <div class="card card-default" data-mh="card">
			            <div class="card-block">
				            <span class="card-no">14.</span>
				            <h5 class="card-title">Planet Ventures</h5>
				            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			            </div>
			          </div>
	    	 		</a>	
	    	 	</div>
	    	 </div>
	    </div>
		<div class="cta-area">
		    <div class="row">
		      <div class="col-md-6">
		      	<div class="cta-block">
			        <h2 class="main-heading">Leading Experts</h2>
			        <p>Success is having the right people in the right places.</p>
			        <p><a href="#" class="btn btn-outline-default">Meet the team</a></p>
		      	</div>
		      </div>   
		    </div>	
		</div>
    </div>
</section>