{% extends "layouts/default.njk" %}
{% block content %}
{% include "includes/home/home-banner.njk" %}
{% include "includes/home/home-middle.njk" %}
{% include "includes/home/home-bottom.njk" %}
{% endblock %}
