<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content-top clearfix">
					<p class="pull-left"><span class="text-primary">We provide solution.</span> <br/>No excuses.</p>
					<p class="pull-right"><a href="#" class="btn btn-primary">Contact Us</a></p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="widget">
					<div class="logo-block">
						<img src="images/logo.png" alt="" class="img-responsive">
					</div>
					<address>
						Lot 2-28, 2-29, 2-30 &amp; 2-31,<br/>
						The Scott Garden,<br/>
						No. 289, Jalan Klang Lama, <br>
						58100 Kuala Lumpur,<br/>
						Malaysia.<br/><br/>
						Tel: <a href="tel:603 7984 1111">603 7984 1111</a><br/>
						Fax: <a href="fax:603 7988 1133">603 7988 1133</a><br/>
						Email: <a href="mailto:info@ace.ac">info@ace.ac</a>
					</address>
				</div>
			</div>
			<div class="col-md-3">
				<div class="widget">
					<h6 class="widget-title">Banking &amp; Finance Solutions</h6>
					<ul class="list-unstyled">
						<li><a href="#">Investment Bank</a></li>
						<li><a href="#">Holdings</a></li>
						<li><a href="#">Leasing</a></li>
						<li><a href="#">Credit</a></li>
						<li><a href="#">Capital Management</a></li>
						<li><a href="#">Private Equity</a></li>
						<li><a href="#">Asset Management</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="widget">
					<h6 class="widget-title">Other Solutions</h6>
					<ul class="list-unstyled">
						<li><a href="#">Industry</a></li>
						<li><a href="#">Corporation</a></li>
						<li><a href="#">Technology</a></li>
						<li><a href="#">Marketing</a></li>
						<li><a href="#">Media Network</a></li>
						<li><a href="#">Pictures Entertainment</a></li>
						<li><a href="#">Planet Ventures</a></li>
					</ul>
				</div>				
			</div>
			<div class="col-md-3">
				<div class="widget">
					<h6 class="widget-title sr-only">Other Solutions</h6>
					<ul class="list-unstyled">
						<li><a href="#">Home</a></li>
						<li><a href="#">Discover</a></li>
						<li><a href="#">Insights</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms &amp; Condition</a></li>
					</ul>
				</div>	
				<div class="widget">
					<p>&copy; 2017 ACE Group. <br/>All rights reserved.</p>
				</div>			
			</div>
		</div>
	</div>
</footer>