<header class="site-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="site-branding clearfix">
					<h1 class="site-title pull-left">
						<a href="/ace/">
							<img src="images/logo.png" alt="">
							<span class="sr-only">ACE group</span>
						</a>
					</h1>
				</div>			
			</div>
			<div class="col-sm-9">
				<nav class="site-navigation clearfix">
					<ul class="nav nav-pills text-uppercase pull-right">
						<li><a href="/ace/inner-page.html">Discover</a></li>
						<li><a href="/ace/inner-page.html">Solutions</a></li>
						<li><a href="/ace/inner-page.html">Insights</a></li>
						<li><a href="/ace/inner-page.html">Contact</a></li>
					</ul>
				</nav>	
			</div>
		</div>
	</div>
</header>